 
<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="isOpen">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity" (click)="closeModal()" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">Adicionar Novo Card</h3>
        <div class="mt-2">
          <form (ngSubmit)="onSubmit()" #cardForm="ngForm">
            <div class="mb-4">
              <label for="cardName" class="block text-gray-700 text-sm font-bold mb-2">Nome do Card:</label>
              <input type="text" id="cardName" name="cardName" [(ngModel)]="newCardName" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
              <div *ngIf="cardForm.controls['cardName'].invalid && cardForm.controls['cardName'].touched" class="text-red-500 text-xs mt-1">
                O nome do card é obrigatório.
              </div>
            </div>

            <div class="flex items-center justify-end">
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
              <button type="submit" class="btn btn-primary ml-2">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 