@use "igniteui-angular/theming" as *;

@include core();
@include typography($font-family: $material-typeface, $type-scale: $material-type-scale);
@include theme($default-palette);

@import 'minireset.css/minireset';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body.dark header {
    background-color: #1E3A8A;
}

/* Definir o tema escuro para o igx-nav-drawer */
body.dark :host {
    --igx-drawer-background: #1E3A8A; 
    --igx-icon-color: #ffffff; 
    --igx-drawer-item-background: rgba(255, 255, 255, 0.1);
    --igx-drawer-item-active-background: rgba(255, 255, 255, 0.2);
}

$custom-switch-theme: switch-theme(
    $thumb-on-color: #fbfbfb,
    $track-on-color: #c6c6c6
);
@include switch($custom-switch-theme);
