<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-4">
    <div class="flex-grow"></div>
    <button class="bg-green-500 hover:bg-green-700 text-white w-12 h-12 rounded-full flex items-center justify-center"
      (click)="addDeck()">
      <igx-icon family="material" class="text-xl m-0 p-0" style="position: relative; top: -2px;">add</igx-icon>
    </button>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let deck of displayedDecks"
      class="flex flex-col bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 ease-in-out">
      <div class="flex justify-center items-center mb-4">
        <img *ngIf="deck.imageUrl; else defaultImage" [src]="deck.imageUrl" alt="{{ deck.name }}"
            class="w-40 h-40 rounded-lg shadow-2xl">
        <ng-template #defaultImage>
            <img src="assets/pokemon-logo.png" alt="Logo Pokémon" class="w-40 h-40 rounded-lg shadow-2xl">
        </ng-template>
    </div>
    <h2 class="text-base mb-2 text-center text-gray-700">{{ deck.name }}</h2>
      <div class="mb-2 text-center">
        <span class="text-gray-600">Pokémon: {{ getCardTypeCounts(deck).pokemonCount }}</span><br>
        <span class="text-gray-600">Treinadores: {{ getCardTypeCounts(deck).trainerCount }}</span>
      </div>
      <div class="flex justify-end space-x-4 mt-auto">
        <button (click)="editDeck(deck.id)">
            <igx-icon family="material" class="text-xl text-gray-800 hover:text-gray-600 m-0 p-0">edit</igx-icon>
        </button>
        <button (click)="removeDeck(deck.id)">
            <igx-icon family="material" class="text-xl text-gray-800 hover:text-gray-600 m-0 p-0">delete</igx-icon>
        </button>
        <button (click)="viewDeckDetails(deck.id)">
            <igx-icon family="material" class="text-xl text-gray-800 hover:text-gray-600 m-0 p-0">list</igx-icon>
        </button>
    </div>
    </div>
  </div>
  <div class="mt-4"></div>
  <igx-paginator #paginator [perPage]="itemsPerPage" [totalRecords]="decks.length" (pageChange)="updateDisplayedDecks()"
    (perPageChange)="onItemsPerPageChange($event)">
  </igx-paginator>
</div>
<igx-dialog #deckDialog [closeOnOutsideSelect]="true">
  <igx-dialog-title>
    <div class="title-container">
      <div class="dialog-title">{{ isEditing ? 'Editar' : 'Criar novo' }}</div>
    </div>
  </igx-dialog-title>
  <form [formGroup]="deckForm" (ngSubmit)="onSubmit()">
    <igx-input-group>
      <igx-prefix>
        <igx-icon>person</igx-icon>
      </igx-prefix>
      <label igxLabel for="deckName">Nome do Baralho</label>
      <input igxInput type="text" id="deckName" formControlName="deckName" required (input)="updateEditedName()" />
      <div *ngIf="deckForm.controls['deckName'].invalid && deckForm.controls['deckName'].touched"
        class="text-red-500 text-xs mt-1">
        O nome do barallho é obrigatório.
      </div>
    </igx-input-group>
  </form>
  <div igxDialogActions>
    <button igxButton (click)="deckDialog.close()">CANCELAR</button>
    <button igxButton (click)="onSubmit()">{{ isEditing ? 'ATUALIZAR' : 'SALVAR' }}</button>
  </div>
</igx-dialog>