<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div class="container mx-auto p-6">
    <div class="flex justify-between items-center mb-4">
        <div class="flex-grow"></div>
        <button class="bg-green-500 hover:bg-green-700 text-white w-12 h-12 rounded-full flex items-center justify-center"
        (click)="addDeck()">
            <igx-icon family="material" class="text-xl m-0 p-0" style="position: relative; top: -2px;">add</igx-icon>
        </button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div *ngFor="let deck of displayedDecks"
            class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 ease-in-out">
            <h2 class="text-xl mb-2">{{ deck.name }}</h2>
            <div class="flex justify-end space-x-2">
                <button class="text-blue-500 hover:text-blue-700" (click)="editDeck(deck.id)">Editar</button>
                <button class="text-red-500 hover:text-red-700" (click)="removeDeck(deck.id)">Remover</button>
                <button class="text-green-500 hover:text-green-700" (click)="viewDeckDetails(deck.id)">Detalhes</button>
            </div>
        </div>
    </div>
    <div class="mt-4"></div>
    <igx-paginator #paginator
      [perPage]="itemsPerPage"
      [totalRecords]="decks.length"
      (pageChange)="updateDisplayedDecks()"
      (perPageChange)="onItemsPerPageChange($event)">
    </igx-paginator>
</div>
<igx-dialog #deckDialog [closeOnOutsideSelect]="true">
    <igx-dialog-title>
      <div class="title-container">
        <div class="dialog-title">{{ isEditing ? 'Editar' : 'Criar novo' }}</div>
      </div>
    </igx-dialog-title>
    <form [formGroup]="deckForm" (ngSubmit)="onSubmit()"> <!-- Use formGroup e (ngSubmit) -->
      <igx-input-group>
        <igx-prefix>
          <igx-icon>person</igx-icon>
        </igx-prefix>
        <label igxLabel for="deckName">Nome do Baralho</label>
        <input igxInput type="text" id="deckName" formControlName="deckName" required (input)="updateEditedName()" />
        <div *ngIf="deckForm.controls['deckName'].invalid && deckForm.controls['deckName'].touched" class="text-red-500 text-xs mt-1">
          O nome do barallho é obrigatório.
        </div>
      </igx-input-group>
    </form>
    <div igxDialogActions>
      <button igxButton (click)="deckDialog.close()">CANCELAR</button>
      <button igxButton (click)="onSubmit()">{{ isEditing ? 'ATUALIZAR' : 'SALVAR' }}</button>
    </div>
  </igx-dialog>
